.header {
  height: 100px;
  //   padding: 0 3%;

  &__navbar {
    margin: 0 auto;
    max-width: 1400px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navbar-logo {
    img {
      height: 80px;
      width: auto;
    }
  }
}
